ion-button{
  margin: 2em 0.5em 0em 0.5em;
  width: 80%;
}
ion-grid{
  --ion-text-align: center;
  text-align: center;
}
ion-header{
  --ion-background-color: #19375d;
  --ion-text-color: white;
  text-align: center;
}
