ion-header{
  text-align: center;
  --ion-background-color: #19375d;
  --ion-text-color: white;
}
.interesTitulo{
  width: 80%;
  text-align: center;
}
.iconos, ion-checkbox{
  pointer-events: none;
  margin-right: 1em;
  color: #19375d;
}
 ion-grid{
  font-size: 1.1em;
  margin-left: 3em;
}
