ion-content{
  --ion-background-color: none;
  background-image: url("./../../assets/img/asanoha-400px.png");
}
.filterForm mat-form-field{
  width: 90%;
}


table tr:first-child {
  background-color: none;
  background-image: url("./../../assets/img/asanoha-400px.png");
}

ion-header{
  line-height: 2.6em;
  --ion-background-color: #19375d;
  --ion-text-color: white;
}
.cursorClick{
  cursor: pointer;
}
.iconoCrear, .iconoVer{
  pointer-events: none;
  color: #402bff;
}
.iconoEditar, .iconoFiltrar{
  pointer-events: none;
  color: orangered;
}
.iconoBorrar{///////
  pointer-events: none;
  color: #c00000;
}
/*To remove the last border*/
table tr:last-child td{
  border-bottom:0 solid
}
table tr:nth-child(4) th{
  background-color: #7286a0;
}
.mat-table{
  border-radius: 2em;
}
.tableDiv, mat-paginator{
  width: 95%;
  margin: auto;
}
th.mat-header-cell {
  text-align: center;
}
td{
  text-align: center;
}
ion-icon{
  font-size: 1.25em;
  margin-right: 1em;
}


.header-row{
  background-color: #19375d;
}
.header-row th{
  color:white;
}
.logout {
  float: right;
}
