ion-content{
  --ion-background-color: #d3ceff;
}
// table{
//   border: 1px solid black;
// }
.filterForm{
  float: right;
}
table tr:nth-child(1) th, table tr:nth-child(2) th{
  background-color: #d3ceff;
}
ion-header{
  text-align: center;
  line-height: 2.6em;
  --ion-background-color: #000000a6;
  --ion-text-color: white;
}
.cursorClick{
  cursor: pointer;
}
.iconoCrear, .iconoVer{
  pointer-events: none;
  color: #402bff;
}
.iconoEditar, .iconoFiltrar{
  pointer-events: none;
  color: orangered;
}
.iconoBorrar{
  pointer-events: none;
  color: #c00000;
}
/*To remove the last border*/
table tr:last-child td{
  border-bottom:0 solid
}
table tr:nth-child(4) th{
  background-color: #402bff71;
}
.mat-table{
  border-radius: 2em;
}
.tableDiv, mat-paginator{
  width: 95%;
  margin: auto;
}
th.mat-header-cell {
  text-align: center;
}
td{
  text-align: center;
}
ion-icon{
  font-size: 1.25em;
  margin-right: 1em;
}

.headerFilter{
  text-align: right;

}
.header-row{
  background-color: #402bff;
}
.header-row th{
  color:white;
}
.logout {
  float: right;
}
