<ion-header [translucent]="true" class="logout">
  <ion-toolbar>
    <ion-title *ngIf="!admin">
      Kit Digital - {{data[0]?.delegacion.ubicacion}}
      <ion-button class="logout" color="light" (click)="logout()" > <ion-icon name="log-out-outline"></ion-icon> Logout</ion-button>
    </ion-title>
    <ion-title *ngIf="admin">
      Kit Digital - ADMIN
      <ion-button class="logout" color="light" (click)="logout()" ><ion-icon name="log-out-outline"></ion-icon> Logout</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="tableDiv" mat-table [dataSource]="data" matSort>
    <ng-container matColumnDef="description" class="tableHeader">
      <th class="tableHeader" [attr.colspan]="admin ? 8:7"   *matHeaderCellDef><h2>Tabla de Solicitudes</h2></th>
    </ng-container>
    <!-- icons -->
    <ng-container matColumnDef="add" >
      <th  colspan="1" *matHeaderCellDef class="headerFilter tableHeader">
        <span (click)="add()" class="cursorClick " title="crear" *ngIf="admin">
          <ion-icon class="iconoCrear" name="person-add-outline"></ion-icon>
        </span>
        <span (click)="clicked = !clicked" class="cursorClick " title="filtrar">
          <ion-icon class="iconoFiltrar" slot="icon-only" name="filter-outline"></ion-icon>
        </span>
      </th>
    </ng-container>

    <!-- filterForm -->
    <ng-container matColumnDef="filterForm" >
      <th mat-header-cell *matHeaderCellDef colspan="9" class="tableHeaderFilter">
        <form [formGroup]="filtersForm" *ngIf="clicked" class="filterForm">
          <ion-grid>
            <ion-row>
              <ion-col >
                <mat-form-field appearance="outline">
                  <mat-label>Asignado</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>

              <ion-col >
                <mat-form-field appearance="outline">
                  <mat-label>Contactado</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>
              <ion-col>
                <mat-form-field appearance="outline">
                  <mat-label>Comercial</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>
              <ion-col>
                <mat-form-field appearance="outline">
                  <mat-label>Contactado</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>
              <ion-col>
                <mat-form-field appearance="outline" *ngIf="admin">
                  <mat-label>Delegacion</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>

              </ion-row>
              <ion-row>
              <ion-col>
                <mat-form-field appearance="outline">
                  <mat-label>Presupuestado</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>


              <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>Tramitado</mat-label>
                <input formControlName="filter" matInput>
              </mat-form-field>
              </ion-col>

              <ion-col>
                <mat-form-field appearance="outline">
                  <mat-label>Cliente</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field>
              </ion-col>

              <ion-col>
                <mat-form-field appearance="outline">
                  <mat-label>Intereses</mat-label>
                  <input formControlName="filter" matInput>
                </mat-form-field><br>
              </ion-col>

              <ion-col>
                <ion-button class="buttonFilter" [ngClass]="admin? '' : 'filterButton'" color="light" (click)="filtrar()">Aplicar Filtros</ion-button>

              </ion-col>
            </ion-row>






          </ion-grid>
        </form>
      </th>
    </ng-container>

    <!-- header of Sede -->
    <ng-container matColumnDef="sede">
      <th mat-header-cell colspan="3" *matHeaderCellDef> SEDE </th>
    </ng-container>

    <!-- Data of Sede -->
    <ng-container matColumnDef="asignado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > ASIGNADO </th>
      <td mat-cell *matCellDef="let row" >
        <ion-checkbox [disabled]="true" checked="{{row.asignado}}"></ion-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="delegacion" *ngIf="admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > DELEGACION </th>
      <td mat-cell *matCellDef="let row" >{{row.delegacion.ubicacion}}</td>
    </ng-container>

    <ng-container matColumnDef="comercial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > COMERCIAL </th>
      <td mat-cell *matCellDef="let row" >{{row.comercial}}</td>
    </ng-container>


    <!-- header of Sede -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell colspan="3" *matHeaderCellDef> ESTADO </th>
    </ng-container>

    <!-- data of Estado -->
    <ng-container matColumnDef="contactado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > CONTACTADO </th>
      <td mat-cell *matCellDef="let row" >
        <ion-checkbox [disabled]="true" checked="{{row.contactado}}"></ion-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="presupuestado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > PRESUPUESTADO </th>
      <td mat-cell *matCellDef="let row" >
        <ion-checkbox [disabled]="true" checked="{{row.presupuestado}}"></ion-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="tramitado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > TRAMITADO </th>
      <td mat-cell *matCellDef="let row" >
        <ion-checkbox [disabled]="true" checked="{{row.tramitado}}"></ion-checkbox>
      </td>
    </ng-container>

    <!-- header of cliente -->
    <ng-container matColumnDef="clienteHeader">
      <th mat-header-cell colspan="3" *matHeaderCellDef> CLIENTE </th>
    </ng-container>

    <!-- data of cliente -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cliente"> CLIENTE </th>
      <td mat-cell *matCellDef="let row" class="cliente">{{row.cliente}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cliente"> EMAIL </th>
      <td mat-cell *matCellDef="let row" class="cliente">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="seeMoreData">
      <th mat-header-cell *matHeaderCellDef class="cliente"> ACCIONES </th>
      <td mat-cell *matCellDef="let row" class="cliente" title="ver">
        <span class="cursorClick" (click)="showDataRow(row)">
          <ion-icon name="eye-outline" class="iconoVer"></ion-icon>
        </span>
        <span class="cursorClick" (click)="edit(row)" title="editar" *ngIf="admin">
          <ion-icon name="pencil-outline" class="iconoEditar"></ion-icon>
        </span>
        <span class="cursorClick" (click)="borrar(row)" title="borrar" *ngIf="admin">
          <ion-icon name="trash-outline" class="iconoBorrar"></ion-icon>
        </span>
      </td>
    </ng-container>

    <!-- row del add -->
    <tr mat-header-row *matHeaderRowDef="['description','add']" class="example-second-header-row"></tr>
    <!-- row del filtro -->
    <tr mat-header-row *matHeaderRowDef="['filterForm']" [hidden]="!clicked" class="example-second-header-row"></tr>
    <!-- row de las cabeceras -->
    <tr mat-header-row *matHeaderRowDef="['sede', 'estado', 'clienteHeader']" class="header-row"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsData"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsData;"></tr>
  </table>

  <mat-paginator #paginator [length]="filtersForm.value.id" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page" (page)="changePage($event)">
  </mat-paginator>

</ion-content>
